.signin, #listado {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    background-color: beige;
    border: 1px black solid; 
  }

.invalid{
  background-color: red;
}

#filtro-rango-pag {
  float: left;
  padding: 15px;
  background-color: rgb(220, 226, 245);
  border: 1px black solid; 
  margin-top: 40px;
}


#info-user {
  float: right;
  padding: 15px;
  background-color: rgb(229, 245, 220);
  border: 1px black solid; 
}



