
.signin, #listado {
    /* width: 100%; */
    /* max-width: 500px; */
    padding: 15px;
    margin: auto;
    background-color: beige;
    border: 1px black solid; 
  }

.invalid{
  background-color: red;
}

#filtro-rango-pag {
  float: left;
  padding: 15px;
  background-color: rgb(220, 226, 245);
  border: 1px black solid; 
  margin-top: 40px;
}


#info-user {
  float: right;
  padding: 15px;
  background-color: rgb(229, 245, 220);
  border: 1px black solid; 
}

body{
  background-image: url('../fondo.jpg');
  background-size: cover;
  padding: 20px;
}

.book{
  padding: 20px;
  background-image: url('../nota.jpg');
  background-size: cover;
}

div.d-flex.justify-content-center{
  padding: 30px;
  border-radius: 15px 15px 0px 0px;
}
